* {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  text-decoration: none;
}
header {
  display: flex;
  background-color: #ff737e;
}
header nav ul {
  display: flex;
  list-style-type: none;
  margin-top: 13px;
}
header nav ul li a {
  text-decoration: none;
  margin: 10px;
  text-transform: uppercase;
  color: white;
  transition: 1s;
  font-family: "Roboto", sans-serif;
}
header nav ul li a:hover {
  color: black;
}
header .sign button {
  margin-top: 5px;
  width: 100px;
  height: 40px;
  border: 0;
  border-radius: 5px;
  color: #ff737e;
  background-color: aliceblue;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}
main {
  margin-top: 50px;
}
main .product .nd1 .nd11 {
  font-family: "Roboto", sans-serif;
  list-style-type: none;
}
main .product .nd1 {
  display: flex;
}
main .product .nd1 figcaption {
  text-decoration: none;
}
main .product .nd1 figure img {
  width: 400px;
  height: 150px;
}

footer {
  margin-top: 50px;
  height: 60px;
  font-size: 20px;
  padding-top: 30px;
  text-align: center;
  background-color: whitesmoke;
  color: black;
}
